body{
	background-image: radial-gradient(circle, #a8a0a2, #b3adb5, #b7bdc9, #b9ced6, #c2deda);
	background-attachment: fixed;
}

[data-player] {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;    
}

/* Fix the video container to take up 100% width and to calculate its height based on its children. */
[data-player] .container[data-container] {
    width: 100%;
    height: auto;
    position: relative;
}

/* Fix the media-control element to take up the entire size of the player. */
[data-player] .media-control[data-media-control] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Fix the video element to take up 100% width and to calculate its height based on its natural aspect ratio. */
[data-player] video {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.stream-profile-picture{
	height: 50px;
	width: auto;
	border-radius: 50%;

}

.nav-style{
	color: white;
	text-decoration: none;
}

.chat-style{
	height: 100%;
	min-height: 750px;
	margin: 0 auto;
	text-align: left;
	overflow-wrap: break-word;
	overflow: scroll;
    word-wrap: break-word;
}

.chat-holder{	
	width: 350px;
	height: 100%;
	margin: 0 auto;
}

.chat-send{	
	float: right;
}

.nav-active{
	color:rgb(0, 0, 0);
}

.nav-links{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.form-inline {
	display: flex;
	align-items: center;
	gap: 10px; /* Optional: adds space between input and button */
}

.form-inline .form-control {
	flex-grow: 1; /* Makes the input field expand to take available space */
}

.form-inline .chat-send {
	flex-shrink: 0; /* Prevents the button from shrinking */
}
